{% extends '@App/template.html.twig' %}


{% block titulo %}

{% endblock %}

{% block body %}
    <section>
        <div class="portlet-body flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead class="thead-dark flip-content">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Código</th>
                <th scope="col">Horas Semanales</th>
                <th scope="col">Horas Totales</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Seleccion/th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for m in exenciones %}
                <tr>
                    <td>{{ m.nombre }}</td>
                    <td>{{ m.codigo }}</td>
                    <td>{{ m.horasSemanales }}</td>
                    <td>{{ m.horasTotales }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="btn btn-xs btn-info" href="{{ path('selectExencion', {'exencion': m.id, 'usuario': usuario.id}) }}">Editar</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </section>

{% endblock %}
{% block stylesheets %}
    <style>
        section {
            margin: auto;
            margin-top: 2em;
            width: 80%;
        }

        @media only screen and (max-width: 992px) {
            section {
                width: 100%;
            }
        }
    </style>
{% endblock %}
