{% extends '@App/template.html.twig' %}
{% block titulo %}{% endblock %}



{% block body %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_info" data-toggle="tab"> Información </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="#tab_acciones" data-toggle="tab">Acciones</a>
            </li>
            <li>
                <a href="#tab_gestion" data-toggle="tab"> Gestión </a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_info">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input">
                        <span>Curso:</span>
                        <span class="form-control">{{ configuracion.curso }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input">
                        <span>Horas Minimas:</span>
                        <span class="form-control">{{ configuracion.horasMin }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input">
                        <span>Horas Maximas:</span>
                        <span class="form-control">{{ configuracion.horasMax }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="tab-pane fade" id="tab_acciones">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input">
                            <a href="{{ path('iniConfig') }}" class="btn btn-info">Iniciar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_gestion">
                {{ form_start(form, {'attr': {'id': 'form_config'}}) }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.curso) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.horasMin) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.horasMax) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" id="btn-editar" type="button">Editar</button>
                <button class="hidden btn btn-info" type="submit">Guardar</button>
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $("#btn-editar").click(function () {
            $("input").removeAttr("disabled");
            $("#btn-editar").toggleClass("hidden");
            $("button:submit").toggleClass("hidden");
        });
    </script>
    <script src="{{ asset('assets/global/scripts/jquery-validation/js/jquery.validate.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('assets/global/scripts/jquery-validation/js/additional-methods.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('assets/global/scripts/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('assets/config/scripts/form-wizard.min.js') }}" type="text/javascript"></script>
{% endblock %}