{% extends '@App/template.html.twig' %}


{% block titulo %}{% endblock %}

{% block body %}
    <section class="tabbable-line">
        <ul class="nav nav-tabs">
            <li>
                <a href="{{ path('listUsers') }}"> Usuarios</a>
            </li>
            <li class="active">
                <a href="{{ path('newUser') }}">Nuevo Usuario</a>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.correo) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.nombre) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.apellidos) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.clave) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% if app.user.rol.nombre == 'Admin' %}
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input">
                                {{ form_row(form.departamento) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.rol) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            {{ form_row(form.prioridad) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-success">
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <style>
        main {
            width: 30%;
            margin: auto;
            margin-top: 2em;
        }

        .row {
            padding: 0.25em;
        }
    </style>
{% endblock %}
