
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>I.E.S. Oretania</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/global/plugins/toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/login/css/login.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <body>
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-md-line-input">
                    {{ form_row(form.newPassword) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-md-line-input">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
        <script src="{{ asset('assets/global/plugins/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/global/plugins/toastr/toastr.min.js') }}"></script>
        <script src="{{ asset('assets/global/scripts/notification.js') }}"></script>
        <script src="https://use.fontawesome.com/e6820f0e80.js"></script>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <script type="text/javascript">
                notificacion("{{ flashMessage }}");
            </script>
        {% endfor %}
    </body>
</html>
